@font-face {
    font-family: "Jumper";
    src: url(../../assets/fonts/jumper.ttf);
}

:root {
    --gymBlack: #191919;
    --gymBlue: #0042fc;
    --gymYellow: #ffc74d;
}

// GLOBAL MIXINS //

@mixin classicTransi {
    transition: all 0.3s ease-in-out;
}

// GLOBAL CLASSES //
.gymnotes-btn {
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    border: none;
    background: linear-gradient(to right, var(--gymBlue) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--gymBlue); 
    box-shadow: inset 0px 0px 0px 2px var(--gymBlue);

    font-family: "Jumper";

    border-radius: 1.2em;

    @include classicTransi;

    &:hover {
        background-position: left bottom;
        transform: scale(1.05);
    }
}
