footer {
    width: 100%;
    background-color: black;
    padding: 3em 0em;
    gap: 3em;

    align-items: center;

    .return-to-top {
        background-color: var(--gymYellow);
        padding: 0.5em 1em 0.3em;
        font-family: "Jumper";
        border-radius: 5px;
        color: white;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    }

    .footer-container {
        width: 90%;
        height: 500px;
        background: rgb(0,66,252);
        background: linear-gradient(0deg, rgba(0,66,252,1) 0%, rgba(3,3,3,1) 100%);
        align-items: center;
        justify-content: space-around;
        padding: 2em 0em;

        .logo-container {
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 1em;
            padding-left: 3em;

            img {
                width: 50px;
                height: 50px;
            }

            h2 {
                font-size: 2em;
                font-family: "Jumper";
                color: white;
            }
        }

        .nav-footer {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .footer-bloc {
                min-width: 30%;
                align-items: center;
                justify-content: center;
                gap: 1em;
                padding: 2em 0em;

                div {
                    width: 70%;
                }

                h4 {
                    font-weight: 800;
                    color: white;
                }
                
                .link-footer-container {
                    a {
                        color: white;
                        opacity: 0.8;
                        width: fit-content;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            
            }
        }


        p {
            color: white;
        }
    }


}


@media (max-width: 800px) {
    footer {

        height: fit-content;
    
        .footer-container {
            height: fit-content;

            .logo-container {
                justify-content: center;
                padding: 0;
            }
            .nav-footer {
                flex-direction: column;

                .footer-bloc {
                   width: 100%;
    
                    div {
                        width: 70%;
                        align-items: center;
                    }
                }
            }

            p {
                font-size: 12px;
            }

        }
    
    
    }

}