#section-4-homepage {
    padding: 8em 0em;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("../../assets/img/beginner.png");

    gap: 4em;

    h3 {
        font-family: "Jumper";
        font-size: 5em;
        letter-spacing: 3px;
    }

    #offers-container {
        flex-direction: row;
        justify-content: center;
        width: 80%;

        gap: 10%;

        div {
            width: 50%;
            align-items: center;
            justify-content: center;
            gap: 3em;

            h4, p {
                text-align: center;
            }

            h4 {
                border-bottom: 1px solid black;
                padding-bottom: 1em;
                font-weight: 800;
                font-size: 24px;
            }

            a {
                padding: 0.5em 0em 0.3em;
                width: 100%;
                text-align: center;
                font-family: "Jumper";
                color: white;
                background-color: var(--gymBlue);
                border-radius: 10px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}


@media (max-width: 769px) {
    #section-4-homepage {
        #offers-container {
            flex-direction: column;
            align-items: center;
            gap: 100px;

            div {
                width: 80%;

                h4 {
                    font-size: 2em;
                }

                p {
                    font-size: 20px;
                }

                a {
                    font-size: 20px;
                }
            }
        }

    }
}