@mixin classicTransi {
    transition: all 0.3s ease-in-out;
}

#section-3-homepage {
    padding: 5em 0em 10em;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 2em;

    h3 {
        display: inline;
        color: white;
        font-family: "Jumper";
        font-size: 3em;
        width: 60%;
        text-align: center;
        span {
            font-size: 1em;
            font-family: "Jumper";
            color: var(--gymBlue);
            display: inline-block;
            animation: shake 2s infinite;
        }

        @keyframes shake {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }
    }  

    #cards-homepage {

        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 5%;


        #cards-images {

            max-width: 60%;
            height: 700px;
            scroll-behavior: smooth;
            justify-content: flex-end;

            ul {
                flex-direction: row;
                align-items: flex-end;
                min-width: 100%;

                li {
                    max-width: 30%;
                    @include classicTransi;
                    overflow: hidden;
                    opacity: 0.5;
                    
                    img {
                        min-width: 200px;
                        border-radius: 30px;
                        cursor: pointer;
                        overflow: visible;
                    }

                }
 
                :nth-child(3) {
                    opacity: 1;
                    overflow: visible;
                    transform: scale(1.1);
                    z-index: 5;
                }

            }
        }
    
        #cards-title {

            justify-content: flex-end;
            align-items: center;
            padding-bottom: 2em;

            #titles {
                flex-direction: row;
                align-items: center;
                padding-bottom: 100px;
                gap: 20px;

                ul {
                    align-items: center;

                    li {
                        font-size: 1.8em;
                        font-weight: 300;
                        text-align: center;
                        letter-spacing: 1px;
                        color: white;
                        font-family: "jumper";
                        opacity: 0.5;
                        cursor: pointer;
                        transition: all 0.6s ease-in-out;
                    }

                    :nth-child(3) {
                        opacity: 1;
                    }
                }
        
                div {
                    gap: 5px;
        
                    span {
                        width: 15px;
                        height: 15px;
                        border-radius: 10px;
                        background-color: white;
                        opacity: 0.5;
                        @include classicTransi;
                    }

                    :nth-child(3) {
                        opacity: 1;
                    }
                }
            }

            .gymnotes-btn {
                padding: 0.3em 1em 0.3em;
                font-size: 1.2em;
            }
        }
    }


}

// MACBOOK 13
@media (max-width: 1440px) {
    #section-3-homepage {
        #cards-homepage {
            align-items: center;

            #cards-images {
                height: fit-content;
                justify-content: center;
                padding: 4em 0em;
            }

            #cards-title {
                justify-content: center;
                flex-direction: row-reverse;
                gap: 40px;
                #titles {
                    padding: 100px 0 0 ;
                }
            }
          
        }
    }
}

@media (max-width: 1440px) {
    #section-3-homepage {
        #cards-homepage {
            flex-direction: column;

            #cards-images {
                gap: 50px;
            }

            #cards-title {
                padding: 0;
                #titles {
                    padding: 0;
                }
            }
          
        }
    }
}


@media (max-width: 769px) {
    #section-3-homepage {
        padding: 6em 0;

        h3 {
            width: 80%;
        }
        #cards-homepage {

            #cards-images {
                display: none;
            }

            #cards-title {
                flex-direction: column;
                #titles {

                    ul {
                        li {
                            font-size: 2em;
                        }
                    }
                }
            }
        }


    }
}