@mixin classicTransi {
    transition: all 0.3s ease-in-out;
}

#section-1-homepage {
    width: 100%;
    padding: 22rem 0em;
    background-size: cover;
    background-image: url("../../assets/img/background.png");
    background-color: black;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    color: white;

    h1 {
        display: none;
    }

    #typewriter-container {
        width: 100%;
        padding: 4em 4em 0em;
        gap: 3em;

        .typewriter {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .session-container {
                padding-left: 8em;

                h2 {
                    font-size: 3em;
                    line-height: 1em;
                    position: relative;

                    @include classicTransi;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 5em;
                        background-color: white;
                        border-radius: 5px;
                        left: -40px;

                        transform: scale(0);
                        transform-origin: top;

                        @include classicTransi;
                    }
                }

                #create-session::after,
                #start-session::after,
                #track-progress::after {
                    content: "";
                    position: absolute;
                    top: 10%;
                    right: -50px;
                    width: var(--widthAfter, 2em);
                    height: 80%;
                    background-color: white;

                    animation: blinker 1.2s linear infinite;
                }

                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }

                p {
                    color: white;
                    font-size: 0px;
                    background: linear-gradient(to right, white 50%, transparent 50%);
                    background-size: 200% 100%;
                    background-position: left bottom;

                    opacity: 0;

                    transition: all 0.35s ease-in-out;
                }

                &:hover {
                    h2 {
                        padding-left: 10px;
                        transform: scale(1.05);
                        & + p {
                            font-size: 1.2em;
                            background-position: right bottom;
                            opacity: 1;
                        }
    
                        &::before {
                            transform: scale(1);
                        }
                    }
    
                    + .step-number {
                        p {
                            transform: scale(1.5);
                        }
    
                        span {
                            transform: scale(1);
                        }
                    }
                }
            }

            .step-number {
                flex-direction: row;
                align-items: center;
                gap: 40px;

                p {
                    font-size: 4em;
                    font-weight: 900;
                    position: relative;
                    @include classicTransi;
                }

                span {
                    width: 100px;
                    height: 2px;
                    background-color: white;
                    border-radius: 5px;
                    transform: scale(0);
                    transform-origin: right;
                    @include classicTransi;
                }
            }
        }
    }

    .gymnotes-btn {
        margin-top: 8em;
        padding: 0.3em 1em 0.3em 1em;
        z-index: 20;
    }
}

// MACBOOK 13
@media (max-width: 1440px) {
    #section-1-homepage {
        padding: 10rem 0em;

        .gymnotes-btn {
            margin-top: 6em;
        }
    }
}

@media (max-width: 1110px) {
    #section-1-homepage {
        #typewriter-container {
            .typewriter {
                .session-container {
                    padding-left: 4em;
                }
            }
        }
    }

}

@media (max-width: 1020px) {
    #section-1-homepage {
        #typewriter-container {
            height: fit-content;
            .typewriter {
                .step-number {
                    display: none;
                }
            }
        }
    }

}

// IPAD
@media (max-width: 769px) {
    #section-1-homepage {
        padding: 0 0 10rem;
        #typewriter-container { 
            padding: 10em 0em 0em;
            .typewriter {
                justify-content: space-between;
                padding: 0 6em;
                .session-container {
                    padding: 0;

                    h2 {
                        font-size: 2em;
                    }

                    &:hover {
                        p {
                            font-size: 1em;
                            width: 70%;
                        }
                    }
                }
            }

            .step-number {
                
                p {
                    font-size: 2em;
                }
                span {
                    display: none;
                }
            }
        }
    }
}


// MOBILE 
@media (max-width: 561px) {
    #section-1-homepage {
        #typewriter-container {
            gap: 100px;
            .typewriter {
                padding: 0;
                .session-container {
                    width: 100%;
                    align-items: center;

                    &:hover {
                        h2 {
                            padding-left: 0;
                            transform: scale(1);
                            & + p {
                                display: none;
                            }
        
                            &::before {
                                transform: scale(0);
                            }
                        }
        
                        + .step-number {
                            p {
                                transform: scale(1);
                            }
        
                            span {
                                transform: scale(1);
                            }
                        }
                    }
                }

            }
        }
    }

}